@font-face {
  font-family: 'iranyekan';
  src: url('../fonts/IranYekan/IRANYekanWebRegular.eot') format('eot'),
    url('../fonts/IranYekan/IRANYekanWebRegular.ttf') format('truetype'),
    url('../fonts/IranYekan/IRANYekanWebRegular.woff') format('woff'),
    url('../fonts/IranYekan/IRANYekanWebRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'iranyekanbold';
  src: url('../fonts/IranYekan/IRANYekanWebBold.eot') format('eot'),
    url('../fonts/IranYekan/IRANYekanWebBold.ttf') format('truetype'),
    url('../fonts/IranYekan/IRANYekanWebBold.woff') format('woff'),
    url('../fonts/IranYekan/IRANYekanWebBold.woff2') format('woff2');
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */



/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
  font-family: "iRANyekan";
  font-size: 0.8rem;
  background-color: var(--first-color);
  position: relative;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --first-color: #fff;
  --second-color: #4770DB;
  --third-color: #0E1B4D;
  --anim-speed: 0.5s;
  direction: rtl;
}

a {
  text-decoration: none;
}

.block{
  display: block !important;
}
.clear-fix:after {
  clear: both;
}

.clear-fix:after,
.clear-fix:before {
  content: " ";
  display: table;
}

button {
  cursor: pointer;
}

::placeholder {
  color: #757575;
}

li {
  list-style: none;
}
.flex{
  display: flex;
}
.d-none{
  display: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --color-neutral-000: #fff;
  --color-neutral-100: #f0f0f1;
  --color-neutral-200: #e0e0e2;
  --color-neutral-300: #c0c2c5;
  --color-neutral-400: #a1a3a8;
  --color-neutral-500: #81858b;
  --color-neutral-600: #62666d;
  --color-neutral-700: #424750;
  --color-neutral-800: #232933;
  --color-neutral-900: #0c0c0c;
  --color-fresh-300: #9dc44d;
  --color-fresh-500: #6bb927;
  --color-fresh-700: #39ae00;
  --color-plus-300: #b665a4;
  --color-plus-500: #a6358a;
  --color-plus-700: #941b80;
  --color-plus-primary: #a63489;
  --color-blue-300: #9ee3f0;
  --color-blue-500: #87d3e1;
  --color-blue-700: #00bfd6;
  --color-blue-primary: #19bfd3;
  --color-digipay: #0040ff;
  --color-fidibo: #52b9c7;
  --color-pindo-touchpoint: #28367f;
  --color-digikalajet-secondary: #ff6200;
  --color-delivery-post: #feb900;
  --color-delivery-ship-by-seller: #d86b00;
  --color-delivery-none-inventory: #922fd3;
  --color-delivery-jet: #a63489;
  --color-delivery-express: #e6123d;
  --color-seller-official: #0081b9;
  --color-boomi-500: #2bb5b2;
  --color-ad: #ff009c;
  --color-electronics-300: #6763d9;
  --color-electronics-500: #5c51bf;
  --color-fashion-300: #ffa368;
  --color-fashion-500: #e88060;
  --color-tools-300: #f62;
  --color-tools-500: #d65c26;
  --color-sport-300: #2babc4;
  --color-sport-500: #1693c0;
  --color-stationery-300: #ff9a36;
  --color-stationery-500: #fa8614;
  --color-kids-300: #fb507d;
  --color-kids-500: #dd305d;
  --color-beauty-300: #c441f1;
  --color-beauty-500: #b006eb;
  --color-home-300: #00b4b0;
  --color-home-500: #009db0;
  --color-rating-0-2: #f9bc00;
  --color-rating-2-3: #b1b64d;
  --color-rating-3-4: #65aa57;
  --color-rating-4-5: #00a049;
  --color-hint-text-caution: #f57f17;
  --color-gradient-silver: #f2f2f2;
  --color-pure-black: #000;
  --color-gray: #eee;
  --color-brand-primary: #e6123d;
  --color-club: #0fabc6;
  --color-irancell: #fbc02d;
  --color-world-cup-winners: #4caf50;
  --color-village: #00b088;
  --color-digify: #254fc3;
  --spacing-base: 4px;
  --color-icon-warning: #f9a825;
  --color-primary-700: #ef394e;
    --color-primary-500: #ef4056;
    --color-secondary-700: #008eb2;
    --color-hint-text-error: #b2001a;
    --color-icon-low-emphasis: #a1a3a8;
    --color-button-secondary: #19bfd3;
}